* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: white;
  height: 50px;
}
.nav-center {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 5px;
  text-transform: capitalize;
}
.nav-center h4 {
  color: rgb(86, 150, 206);
}
.nav-center ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
.nav-center li {
  width: 100px;
}
main {
  height: 550px;
  background-color: rgb(234, 232, 232);
  padding: 200px 100px;
  margin: 0px;
}
.container {
  text-align: center;
}
.container h2 {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 100px;
  padding-top: 30px;
  letter-spacing: 5px;
  text-transform: capitalize;
}
.container .btn {
  text-transform: uppercase;
  margin-top: 30px;
  border-width: 2px;
  width: 150px;
  height: 50px;
}
.color {
  color: rgb(86, 150, 206);
  text-transform: uppercase;
}
